<app-navbar class="fixed w-full shadow-lg z-50 top-0 left-0"></app-navbar>
<div class="pt-20">
  <router-outlet></router-outlet>
  <div class="flex items-center space-x-4">
    <!-- Botón de disminuir cantidad -->
    <button
      class="w-8 h-8 flex items-center justify-center bg-gray-200 text-gray-700 rounded hover:bg-gray-300"
      aria-label="Decrease Quantity"
    >
      -
    </button>

    <!-- Cantidad -->
    <span class="text-lg font-medium">1</span>

    <!-- Botón de aumentar cantidad -->
    <button
      class="w-8 h-8 flex items-center justify-center bg-gray-200 text-gray-700 rounded hover:bg-gray-300"
      aria-label="Increase Quantity"
    >
      +
    </button>
  </div>

</div>

