<div class="bg-white shadow-md rounded-lg max-w-md shadow-sm">
  <a href="#">
    <img class="rounded-t-lg p-1" src="https://i.ibb.co/KqdgGY4/cosmetic-packaging-mockup-1150-40280.webp" alt="product image">
      </a>
    <div class="px-2 pb-5">
      <a href="#">
        <p class="text-gray-900  text-xs tracking-tight dark:text-gray-900">Apple Watch Series 7 GPS</p>
      </a>

      <div class="flex items-center justify-between">
        <span class="text-sm  text-gray-900 font-semibold dark:text-gray-900">$1.200</span>
        <a href="#"
          class="text-white bg-green-300 hover:bg-green-800 focus:ring-4 focus:ring-green-300 rounded-full px-2 py-0.5 text-center font-extrabold text-lg">+</a>
      </div>
      </div>
      <div>

    </div>
</div>
